@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Press+Start+2P|Turret+Road&display=swap');
/* * {
    border: 1px saddlebrown solid;
} */
html {
    background-image: url("images/ooo_map2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    text-align: right;
}
h2 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    color: whitesmoke;
    text-align: center;
    font-weight: bold;
    text-shadow: 2px 2px #000;
}
h4 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.23em;
}
.title {
    float: left;
}
.title img {
    width: 150px;
    padding-right: 200px;
}
.beemo {
    display: block;
    float: right;
}
.beemo img {
    width: 150px;
}
.place {
    height: 200px;
    width: 200px;
    display: block;
    margin: auto;
}
.place img {
    display: block;
    margin: auto;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
}
.directions {
    background-color: ivory;
    font-family: 'Turret Road', cursive;
    padding: 10px;
    font-size: .75em;
    border-radius: 8px;
}
.working-directions {
    font-family: 'Turret Road', cursive;
    padding: 20px;
    font-size: 1.25em;
}
.work {
    font-family: 'Turret Road', cursive;
    padding: 20px;
    font-size: 1.25em;
}

.magic {
    display: flex;
    background-image: url("images/magic-man-house.jpg");
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 10px;
}
.magic img {
    display: block;
    margin: auto;
    border: 2px solid saddlebrown;
}
.work {
    background-color: ivory;
    font-family: 'Press Start 2P', cursive;
    padding-top: 30px;
    font-size: .75em;
    border-radius: 8px;
}
.ui-dialog-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    background-color: pink;
    color: purple;
    padding: 5px;
    border-radius: 8px;
}
