@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Press+Start+2P|Turret+Road&display=swap');
/* * {
    border: 1px saddlebrown solid;
} */
html {
    background-image: url("images/ooo_map2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    /* overflow: scroll; */
}
h1 {
    font-family: 'Press Start 2P', cursive;
    font-size: 1.5em;
    text-align: right;
}
.place img {
    height: 100px;
    width: 100px;
    background-attachment: fixed;
    display: inline-block;
}
.container {
    display: flex;
    flex-wrap: wrap;
    width: 85%;
    margin: auto;
    /* border: 1.5px saddlebrown solid; */
}
.directions {
    background-color: ivory;
    font-family: 'Turret Road', cursive;
    padding: 10px;
    font-size: .75em;
    border-radius: 8px;
}
.working-directions {
    font-family: 'Turret Road', cursive;
    padding: 10px;
    font-size: .75em;
}

.magic {
    display: flex;
    background-image: url("images/magic-man-house.jpg");
    background-repeat: no-repeat;
    height: 500px;
    margin-top: 10px;
}
.magic img {
    display: block;
    margin: auto;
    border: 2px solid saddlebrown;
}
.work {
    background-color: ivory;
    /* background-image: url("images/magic-man-house.jpg"); */
    font-family: 'Press Start 2P', cursive;
    padding-top: 30px;
    font-size: .75em;
    border-radius: 8px;
}
.ui-dialog-title {
    font-family: 'Press Start 2P', cursive;
    font-size: 1em;
    background-color: pink;
    color: purple;
    padding: 5px;
    border-radius: 8px;
}
